.row
  .large-8.large-centered.columns
    %h4.centered.header
      Change Password
.row.spacer
  .large-8.large-centered.columns
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      %div
        = f.label :password, "New Password (min 8 characters)"
        %br/
        = f.password_field :password, :autocomplete => "off"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      %div
        = f.label :current_password
        %br/
        = f.password_field :current_password
      %div= f.submit "Update", :class => "button small"