= render "layouts/claims_header"

= form_for(@claim, :method => :put) do |f|
  .large-10.large-centered.columns
    .row
      .large-centered.large-10.columns
        = render "layouts/customer_details"
        = render "layouts/incident_details"
        = f.hidden_field :step, :value => "2"
        = f.hidden_field :agent_id, :value => current_user.agent.id
    .row
      .large-10.large-centered.columns
        .row.spacer
          .twelve.columns
            %h5.section_header
              Please confirm receipt of:
        = f.hidden_field :step, :value => "2"
        = f.hidden_field :claim_type
        .checks
          - if(@claim.is_theft?)
            .row.spacer
              .large-12.columns
                = f.check_box :police_abstract
                = f.label :police_abstract
          - else
            .row.spacer
              .large-12.columns
                = f.check_box :damaged_device
                = f.label :damaged_device
                %span
                  (Device:
                  %b
                    = @claim.policy.insured_device.device.model
                  IMEI :
                  %b
                    = @claim.policy.insured_device.imei
                  )

          .row.spacer
            .large-12.columns
              = f.check_box :receipt
              = f.label :receipt, "Original purchase receipt/ warranty (must display device make, model & IMEI, seller and price & date of purchase)"
          .row.spacer
            .large-12.columns
              = f.check_box :original_id
              = f.label :original_id, "Original of ID/ Passport No. "
              %b
                =@claim.policy.customer.id_passport
          .row.spacer
            .large-12.columns
              = f.check_box :copy_id
              = f.label :copy_id, "Copy of ID/ Passport No."
              %b
                =@claim.policy.customer.id_passport
          - if(@claim.claim_type != "Damage")
            .row.spacer
              .large-12.columns
                = f.check_box :blocking_request, :required => "required"
                = f.label :blocking_request, "Completed and stamped Blocking Request Form from mobile network operator"
          - else
            .row.spacer
              .large-12.columns
                = f.label :dealer_description, "Please describe the damage to the device"
                = f.text_field :dealer_description, :required => "required"
            .row.spacer
              .large-4.columns
                = f.label :dealer_can_fix, "Can the device be repaired?", :class => "required"
              .large-4.columns
                = f.radio_button :dealer_can_fix, "1"
                %label
                  Yes
              .large-4.columns
                = f.radio_button :dealer_can_fix, "0"
                %label
                  No
            .row.spacer.fixable
              .large-6.columns
                = f.label :dealer_cost_estimate, "If yes, what is the estimated cost of repairs"
                = f.text_field :dealer_cost_estimate
              .large-6.columns
                = f.label :days_to_fix, "No of days to complete repairs"
                = f.text_field :days_to_fix
        .row.spacer
          %br
        .row.spacer
          .large-10.columns
            = f.submit "Update", {:class=> "button small"}
:javascript
  $(function(){
  
    $("input[name='claim[dealer_can_fix]']").change(function() {
      if ($("input[name='claim[dealer_can_fix]']:checked").val() == '0')
          $('.fixable input').prop('disabled', true);      
      else
          $('.fixable input').prop('disabled', false);
    });

    var fix_rules = {
      required : {
          depends : function()  {
             return $('input[name="claim[dealer_can_fix]"]:checked').val() == "1";
          }
        },
        number: true
    };

    $('.edit_claim').validate({
      rules : {
        "claim[police_abstract]" : {
          required : true
        },
        "claim[damaged_device]" : {
          required : true
        },

        "claim[blocking_request]" : {
          required : true
        },

        "claim[original_id]" : {
          required : true
        },

        "claim[copy_id]" : {
          required : true
        },

        "claim[receipt]" : {
          required : true
        },

        "claim[dealer_can_fix]" : {
          required : true
        },

        "claim[dealer_cost_estimate]" : fix_rules,
        "claim[days_to_fix]" : fix_rules
      },
      messages: {
        "claim[dealer_can_fix]" : "Please specify"
      }
    });
  })