= render "layouts/claims_header"
- if @claim.nil?
  .row
    .large-8.large-centered.columns
      %h4
        No such claim was found
- else
  .row
    .large-8.large-centered.columns
      .large-4.columns.details
        Client Name: #{@claim.policy.customer.name}
      .large-4.columns.details
        Other Telephone : #{@claim.contact_number}
      - if !@claim.step.nil? && @claim.step >= 1
        .large-4.columns.details
          Type of Claim : #{@claim.claim_type}
  .row.spacer
    .large-8.large-centered.columns
      .large-7.columns.details
        Device:
        %strong
          = @claim.policy.insured_device.device.marketing_name
      .large-4.columns.details
        IMEI:
        %strong
          = @claim.policy.insured_device.imei
  = form_for(@claim, :method => :put) do |f|
    - if @claim.step.nil?
      = f.hidden_field :step, :value => "1"
    - else
      = f.hidden_field :step

    .row.spacer
      .large-8.large-centered.columns
        .row
          .large-12.columns
            - if @claim.step.nil? || @claim.step == 0
              %fieldset
                .row
                  .large-6.columns
                    = f.label :claim_type, "Please select the type of claim you are reporting"
                    = f.select :claim_type, ["Damage", "Loss / Theft"]
                  .large-6.columns.datepicker
                    = f.label :incident_date
                    = f.date_select :incident_date
                .row
                  .large-6.columns
                    = f.label :nearest_town, "Nearest Town"
                    = f.select :nearest_town, Brand.all.collect { |b| [b.town_name,b.town_name] }, {}
                .row
                  .large-3.large-offset-9.columns
                    = f.submit "Update", :class => "button small"
