= render "layouts/claims_header"
- if @claim.nil?
  .row
    .large-10.large-centered.columns
      %h4
        No such claim was found
- else
  = form_for(@claim, :method => :post) do |f|
    .large-10.large-centered.columns
      .row
        .large-10.large-centered.columns
          .row.disabled
            .large-4.columns
              %label
                Client Name
              %input{:type => "text", :value => @claim.policy.customer.name}
            .large-4.columns
              %label
                Other Telephone
              %input{:type => "text", :value => @claim.policy.customer.contact_number}
            .large-4.columns
              %label
                Email
              %input{:type => "text", :value => @claim.policy.customer.email}
          .row.disabled
            .large-6.columns
              %label
                Device
              %input{:type => "text", :value => @claim.policy.insured_device.device.marketing_name}
            .large-6.columns
              %label
                IMEI
              %input{:type => "text", :value => @claim.policy.insured_device.imei}
          -if @claim.policy.can_claim?
            .row
              .large-6.columns
                = f.label :claim_type
                = f.select :claim_type, ["Loss / Theft", "Damage"]
              .large-6.columns
                = f.label :nearest_town
                = f.select :nearest_town, @towns.collect { |t| [t,t] }, {}
            .row.spacer
              .large-12.columns
                = f.hidden_field :policy_id
                = f.submit "Save", {:class=> "small button"}
          -else
            .row
              .large-12.columns
                %hr
                %p
                  = session[:status_message]                
                %hr