= render "layouts/claims_header"
- if @claim.nil?
  .row
    .large-10.large-centered.columns
      %h4
        No such claim was found
- else
  = form_for(@claim, :method => :put) do |f|
    .row
      .large-10.large-centered.columns
        %h4.centered
          CLAIM REGISTRATION FORM
        %h5.centered
          This document has been emailed to #{@claim.policy.quote.insured_device.customer.email}. Please print it and carry it with you to our authorized repair/ supply partner           
    .large-10.large-centered.columns.disabled
      .row
        .large-10.large-centered.columns
          .row
            .large-12.columns
              %p
                You have successfully registered a claim as follows:
          .row
            .large-6.columns
              %span
                Insured:
              %b
                = @claim.policy.customer.name
            .large-6.columns
              %span
                ID / Passport No:
              %b
                = @claim.policy.customer.id_passport
          .row.spacer
            .large-6.columns
              %span
                Tel:
              %b
                = @claim.policy.customer.contact_number
            .large-6.columns
              %span
                Claim No:
              %b
                = @claim.claim_no
          .row.spacer
            .large-6.columns
              %span
                Claim Reporting Date:
              %b
                = @claim.created_at.to_s(:simple)
            .large-6.columns
              %span
                Claim Type:
              %b
                = @claim.claim_type
          .row.spacer
            .large-6.columns
              %span
                Device:
              %b
                = @claim.policy.quote.insured_device.device.model
            .large-6.columns
              %span
                IMEI:
              %b
                = @claim.policy.quote.insured_device.imei
          .row.spacer
            .large-12.columns
              %hr
              %p
                Please visit #{@nearest_dealers} in
                %b
                  #{@claim.nearest_town}
                with the following:
          .row.spacer

            .large-11.large-offset-1.columns
              - if @claim.claim_type == "Damage"
                %ul
                  %li
                    The damaged device
                  %li
                    Original or certified copy of purchase receipt/ warranty (must display device make, model & IMEI, seller and price & date of purchase)
                  %li
                    Original ID or Passport
                  %li
                    Copy of ID or Passport
                  %li
                    This claim registration confirmation
              - else
                %ul
                  %li
                    Police Abstract
                  %li
                    Completed and stamped Blocking Request Form from mobile network operator
                  %li
                    Original purchase receipt/ warranty (must display device make, model & IMEI, seller and price & date of purchase)
                  %li
                    Original ID or Passport
                  %li
                    Copy of ID or Passport
                  %li
                    This claim registration confirmation
          .row.spacer
            .large-12.columns
              %p
                %b
                  Please carry all the above items when visiting the outlet. The outlet is authorized to accept your claim only when all the above items are submitted together.
