%h3
  Send Payments
%fieldset.payment_form
  %form{:action => admin_simulator_payment_path, :method => "POST"}
    .field
      = label(:payment, :account_id)
      = text_field(:payment, :account_name, {:placeholder => "Account Name"})
    .field
      = label(:payment, :amount)
      = text_field(:payment, :amount, {:placeholder => "1000.00"})
    .field
      = label(:payment, :transaction_ref)
      = text_field(:payment, :transaction_ref, {:placeholder => "XXXXXX"})
    .field
      = label(:payment, :channel)
      = select :payment, :channel, ["MPESA", "AIRTEL", "Cheque", "Bank Transfer"], {}
    .field
      = submit_tag("Submit")