- if user_signed_in?
  .row
    .large-10.large-centered.columns
      %h4.centered.header
        Welcome to Orient Mobile Claims :
        - if current_user.user_type == "CP"
          Fones Direct Outlet Portal
        - elsif current_user.user_type == "DP"
          Dealer Portal
        - else
          Fones Direct Service Centre
  .row
    .large-10.large-centered.columns

      - if current_user.user_type == "DP"
        .row.disabled.spacer
          .large-6.columns
            %label
              Outlet Name
            %input{:type => "text", :value => "#{current_user.agent.name}, #{current_user.agent.town}"}
          .large-6.columns
            %label
              Outlet Code
            %input{:type => "text", :value => current_user.agent.code}
        .row.spacer
          %form{:method => "POST", :action => claim_search_path}
            .large-6.columns
              %label
                Claim No:
              %input{:type => "text", :name => "claim_no"}
              %input{:name=>"authenticity_token", :value=> "#{form_authenticity_token}", :type=> "hidden"}
            .large-6.columns
              %label{:style => "display:block"}
                &nbsp;
              %input.small.button{:type => "submit"}
      - if current_user.user_type == "CP"
        %form{:method => "POST", :action => claim_search_by_no_path}
          %input{:type => 'search', :placeholder =>'Search by Claim No.', :name => 'claim_no'}
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Outstanding Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                  %tbody
                    - @claims.each do |claim|
                      - if claim.status != 'Settled'
                        %tr
                          %td
                            - if !claim.claim_no.nil?
                              %a{:href => "/claim_search?claim_no=#{claim.claim_no}"}
                                = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Settled Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                  %tbody
                    - @claims.each do |claim|
                      - if claim.status == 'Settled'
                        %tr
                          %td
                            -if !claim.claim_no.nil?
                              = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} All Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                  %tbody
                    - @claims.each do |claim|
                      %tr
                        %td
                          -if !claim.claim_no.nil?
                            = claim.claim_no
                        %td
                          -if !claim.incident_date.nil?
                            = claim.incident_date
                        %td
                          -if !claim.policy.quote.insured_device.customer.name.nil?
                            = claim.policy.quote.insured_device.customer.name
      - if current_user.user_type == "SC"
        %form{:method => "POST", :action => claim_search_by_no_path}
          %input{:type => 'search', :placeholder =>'Search by Claim No.', :name => 'claim_no'}
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Awaiting Assessment
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Awaiting Assessment
                    %td Assessment Completed
                    %td All Damage Claims
                  %tbody
                    - @claims.each do |claim|
                      - if claim.is_damage?
                        - if claim.status != 'Settled'
                          %tr
                            %td
                              - if !claim.claim_no.nil?
                                %a{:href => "/claim_search?claim_no=#{claim.claim_no}"}
                                  = claim.claim_no
                            %td
                              -if !claim.incident_date.nil?
                                = claim.incident_date
                            %td
                              -if !claim.policy.quote.insured_device.customer.name.nil?
                                = claim.policy.quote.insured_device.customer.name
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Assessment Completed
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Awaiting Assessment
                    %td Assessment Completed
                    %td All Damage Claims
                  %tbody
                    - @claims.each do |claim|
                      -if claim.is_damage?
                        - if claim.status == 'Settled'
                          %tr
                            %td
                              -if !claim.claim_no.nil?
                                = claim.claim_no
                            %td
                              -if !claim.incident_date.nil?
                                = claim.incident_date
                            %td
                              -if !claim.policy.quote.insured_device.customer.name.nil?
                                = claim.policy.quote.insured_device.customer.name
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} All Damage Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Awaiting Assessment
                    %td Assessment Completed
                    %td All Damage Claims
                  %tbody
                    - @claims.each do |claim|
                      - if claim.is_damage?
                        %tr
                          %td
                            -if !claim.claim_no.nil?
                              = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name