- if user_signed_in?
  .row.banner
    .large-12.columns
      %h4.subheader
        - if claims_is_logged_in?
          Claims Portal \
        - elsif dealer_is_logged_in?
          Fones Direct Outlet Portal \
        - else
          Fones Direct Service Centre \
  .row.spacer
    .large-10.large-centered.columns

      - if dealer_is_logged_in?
        .row.disabled.spacer
          .large-6.columns
            %label
              Outlet Name
            %input{:type => "text", :value => "#{current_user.agent.name}, #{current_user.agent.town}"}
          .large-6.columns
            %label
              Outlet Code
            %input{:type => "text", :value => current_user.agent.code}
        .row.spacer
          %form{:method => "POST", :action => claim_search_path}
            .large-6.columns
              %label
                Claim No:
              %input{:type => "text", :name => "claim_no"}
              %input{:name=>"authenticity_token", :value=> "#{form_authenticity_token}", :type=> "hidden"}
            .large-6.columns
              %label{:style => "display:block"}
                &nbsp;
              %input.small.button{:type => "submit"}
      - if claims_is_logged_in?
        %form{:method => "POST", :action => claim_search_by_no_path}
          %input{:type => 'text', :placeholder =>'Search by Claim No.', :name => 'claim_no'}
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Outstanding Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      - if claim.status != 'Settled' && claim.is_in_claims_stage?
                        %tr
                          %td
                            - if !claim.claim_no.nil?
                              %a{:href => "/claim_search?claim_no=#{claim.claim_no}"}
                                = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name
                          %td
                            -if !claim.policy.policy_number.nil?
                              %a{:href => "/policy/show_details?policy_no=#{claim.policy.policy_number}"}
                                = claim.policy.policy_number
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Settled Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      - if claim.status == 'Settled' && claim.is_in_claims_stage?
                        %tr
                          %td
                            -if !claim.claim_no.nil?
                              = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name
                          %td
                            -if !claim.policy.policy_number.nil?
                              = claim.policy.policy_number
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} All Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Client
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      -#- if claim.is_in_claims_stage?
                      %tr
                        %td
                          -if !claim.claim_no.nil?
                            %a{:href => "/claim_search?claim_no=#{claim.claim_no}"}
                              = claim.claim_no
                        %td
                          -if !claim.incident_date.nil?
                            = claim.incident_date
                        %td
                          -if !claim.policy.quote.insured_device.customer.name.nil?
                            = claim.policy.quote.insured_device.customer.name
                        %td
                          -if !claim.policy.policy_number.nil?
                            %a{:href => "policy/show_details?policy_no=#{claim.policy.policy_number}"}
                              = claim.policy.policy_number
      - if service_centre_is_logged_in?
        %form{:method => "POST", :action => claim_search_by_no_path}      
          .row.collapse
            .large-10.columns
              %input{:type => 'text', :placeholder =>'Search by Claim No.', :name => 'claim_no'}  
            .large-2.columns
              %input.button.postfix.expand.signup{:type => "submit", :value => "Search"}
        .section-container.tabs{"data-section" => "tabs"}
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Awaiting Assessment
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Customer
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      - if claim.is_damage?
                        - if claim.status != 'Settled'
                          %tr
                            %td
                              - if !claim.claim_no.nil?
                                %a{:href => "/claim_search?claim_no=#{claim.claim_no}"}
                                  = claim.claim_no
                            %td
                              -if !claim.incident_date.nil?
                                = claim.incident_date
                            %td
                              -if !claim.policy.quote.insured_device.customer.name.nil?
                                = claim.policy.quote.insured_device.customer.name
                            %td
                              -if !claim.policy.policy_number.nil?
                                %a{:href => "policy/show_details?policy_no=#{claim.policy.policy_number}"}
                                  = claim.policy.policy_number
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} Assessment Completed
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Customer
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      -if claim.is_damage?
                        - if claim.status == 'Settled'
                          %tr
                            %td
                              -if !claim.claim_no.nil?
                                = claim.claim_no
                            %td
                              -if !claim.incident_date.nil?
                                = claim.incident_date
                            %td
                              -if !claim.policy.quote.insured_device.customer.name.nil?
                                = claim.policy.quote.insured_device.customer.name
                            %td
                              -if !claim.policy.policy_number.nil?
                                = claim.policy.policy_number
          %section
            %p.title{"data-section-title" => ""}
              %a{:href => "#"} All Damage Claims
            .content{"data-section-content" => ""}
              .large-10.large-centered.columns
                %table
                  %thead
                    %td Claim No.
                    %td Claim Date
                    %td Customer
                    %td Policy No.
                  %tbody
                    - @claims.each do |claim|
                      - if claim.is_damage?
                        %tr
                          %td
                            -if !claim.claim_no.nil?
                              = claim.claim_no
                          %td
                            -if !claim.incident_date.nil?
                              = claim.incident_date
                          %td
                            -if !claim.policy.quote.insured_device.customer.name.nil?
                              = claim.policy.quote.insured_device.customer.name
                          %td
                            -if !claim.policy.policy_number.nil?
                              = claim.policy.policy_number