#claim-type{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Claim Type
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      -#%li{"data-role" => "list-divider"}
        Your Policy details are below...
      %li
        %b
          Client:
        %span.model
          -#= session[:policy].quote.insured_device.customer.name
          = session[:customer].name
      %li
        -#%img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Device:
        %span.model
          = session[:policy].quote.insured_device.device.marketing_name
      %li
        -#%img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Insurance Value:
        %span.model
          = "#{number_to_currency(session[:policy].quote.insured_value, :unit => 'KES ')}"
      %li
        -#%img{:src => "/assets/calendar.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Expiry Date:
        %span.model
          -if !session[:policy].expiry.nil?
            = session[:policy].expiry.to_s(:simple)

    = form_for(@status, :url => wizard_path, :method => :put) do |f|
      %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
        %li{"data-role" => "list-divider"}
          Provide your claim details.
        %li
          = f.label :claim_type, "Reporting"
          = f.select :claim_type, ["Damage", "Loss / Theft"], {}, { "data-theme" => "c"}
        %li
          = f.label :nearest_town, "Nearest Town"
          = f.select :nearest_town, session[:towns].collect { |t| [t,t] }, {}, { "data-theme" => "c"}
        %li
          = f.submit "Continue"


