#claim-centers{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Claim Instructions
  %section{"data-role" => "content", :role => "main"}
    %h1.logo
      %img.logo.smaller{:alt => "Kenya Orient", :src => "../assets/koil_logo.png"}
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      -#%li{"data-role" => "list-divider"}
        Your Policy details are below...
      %li
        %b
          Client:
        %span.model
          -#= session[:policy].quote.insured_device.customer.name
          = session[:customer].name
      %li
        -#%img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Device:
        %span.model
          = session[:policy].quote.insured_device.device.marketing_name
      %li
        -#%img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Insurance Value:
        %span.model
          = "#{number_to_currency(session[:policy].quote.insured_value, :unit => 'KES ', :delimiter => "")}"
      %li
        -#%img{:src => "/assets/calendar.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Expiry Date:
        %span.model
          -if !session[:policy].expiry.nil?
            = session[:policy].expiry.to_s(:simple)
      %li
        %b
          Ref No:
        %span.model
          = session[:claim].claim_no
    - if(session[:brand])
      %span
        Please visit one of the following dealers in
      %span
        = @status.nearest_town
      %span
        with the damaged device, purchase receipt or warranty, and original ID or passport
      %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
        - if (!session[:brand].brand_1.nil?)
          %li
            = session[:brand].brand_1
        - if (!session[:brand].brand_2.nil?)
          %li
            = session[:brand].brand_2
        - if (!session[:brand].brand_3.nil?)
          %li
            = session[:brand].brand_3
        - if (!session[:brand].brand_4.nil?)
          %li
            = session[:brand].brand_4
    - else
      %p There are no Dealer centers in your selected town.
      %p Call one of our help centers to be directed to the closest dealership
    %p
      Please #{link_to("click here", "#{ENV['BASE_URL']}customer", :class => "inline", :rel => "external")}  to continue with claim registration
