= form_for(enquiry, :url => wizard_path(:enter_sales_info), :method => :put, :html => {:class => "edit_enquiry personal_details", "data-ajax" => is_asha?? "false" : "true" } ) do |f|  
  %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
    %li{"data-role" => "list-divider"}
      Insurance Value And Premium
    %li
      %b
        Total Insurance Value:
      %span.model
        = session[:quote_details]["insurance_value"]
    %li
      %b
        Annual Premium:
      %span.model
        = session[:quote_details]["annual_premium"]
  %br
  %div{style: "clear: both; overflow:hidden;"}
    = f.label :customer_name, 'Full Name (as per ID / Passport)'
    = f.text_field :customer_name, :class => "required"
  = f.label :customer_id, 'National ID or Passport Number'
  = f.text_field :customer_id, :class => "required"
  = f.label :customer_email, 'Email Address'
  = f.email_field :customer_email, :class => "required email"
  = f.label :customer_payment_option, 'Select preferred Payment'
  = f.select :customer_payment_option, {"1-year premium of #{session[:quote_details]['annual_premium']}" => "Annual", "3 monthly payments of #{session[:quote_details]['quarterly_premium']}" => "Monthly", "6 monthly payments of #{session[:quote_details]['six_monthly_premium']}" => "six_monthly"}, {}, { "data-theme" => "c"}
  - if @enquiry.source == "SMS"
    = f.label :phone_number, 'Mobile Number'
    %label.phone_number{:style => "width:96%;display:block"}
      = @enquiry.phone_number
    = f.hidden_field :phone_number, value: @enquiry.phone_number
  - else
    = f.label :phone_number, 'Mobile Number (2547XXXXXXXX)'
    = f.text_field :phone_number, :class => "required", :placeholder => "254722123456"
    = f.error_message_on :phone_number
  %p
    = f.submit "Continue"