#confirm-details{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Your Device Details
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        Please confirm details below...
      %li
        %img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Make & Model:
        %span.model
          = session[:device].marketing_name
      %li
        %img{:src => "/assets/calendar.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Year of Purchase:
        %span.model
          = @enquiry.year_of_purchase
      %li
        %b
          Insurance value:
        %span.model
          = session[:quote_details]["insurance_value"]
      %li
        %b
          1-year premium:
        %span.model
          = session[:quote_details]["annual_premium"]
      %li
        %b
          3 monthly installments of:
        %span.model
          = session[:quote_details]["quarterly_premium"]

      - if !session[:quote_details]["sales_agent"].nil?
        %li
          %b
            Sales Agent:
          %span.model
            = session[:quote_details]["sales_agent"]
    %a{"href" => "#", "data-role" => "button", "data-inline" => "true", "data-mini" => "true"} Cancel
    -#%a{"href" => "#", "data-role" => "button", "data-inline" => "true", "data-theme" => "b", "data-mini" => "true"} Continue
    = link_to('Continue', wizard_path(:personal_details), "data-role" => "button", "data-inline" => "true", "data-mini" => "true")

