#confirm-personal-details{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Your Device Details
  %section{"data-role" => "content", "role" => "main"}
    %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "c", "data-divider-theme" => "b"}
      %li{"data-role" => "list-divider"}
        A quote with the following details has been created
      %li
        %img{:src => "/assets/phone.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Make & Model:
        %span.model
          = session[:device].marketing_name
      %li
        %img{:src => "/assets/calendar.png", :class =>"ui-li-icon ui-corner-none"}
        %b
          Year of Purchase:
        %span.model
          = @enquiry.year_of_purchase
      %li
        %b
          Insurance value:
        %span.model
          = session[:quote_details]["insurance_value"]
      %li
        %b
          Amount Due:
        %span.model
          - if(session[:user_details]["customer_payment_option"] == 'Annual')
            = session[:quote_details]["annual_premium"]
          - elsif(session[:user_details]["customer_payment_option"] == 'Monthly')
            = session[:quote_details]["quarterly_premium"]
      %li
        %b
          Name:
        %span.model
          = session[:user_details]["customer_name"]
      %li
        %b
          ID or Passport No.:
        %span.model
          = session[:user_details]["customer_id"]

      %li
        %b
          Sales Agent:
        %span.model
          - if !session[:quote_details]["sales_agent"].nil?
            = session[:quote_details]["sales_agent"]
          - else
            Direct
      %li
        %span.model
          Your Account Number is:
          = session[:user_details]["account_name"]
          and is valid till
          = "#{session[:quote].expiry_date.in_time_zone(ENV['TZ']).to_s(:full)}."
          Please click Accept for payment information
      
    %div{"data-role" => "fieldcontain"}
      %fieldset.accept_tac{"data-role" => "controlgroup"}
        %input.tac-checkbox.custom{:type => "checkbox", :name => "checkbox-1", :id => "checkbox-1"}
        %label.tac{:for => "checkbox-1"}
          I confirm that I have read, understood and accepted the 
          %a{:href => "http://korient.co.ke/LoveMob", :rel => "external"}
            Terms & Conditions 
          of Orient Mobile
    %a{"href" => "/enquiry/begin", "data-role" => "button", "data-inline" => "true", "data-mini" => "true"} Cancel
    = link_to('Accept', wizard_path(:complete_enquiry), "data-role" => "button", "data-inline" => "true", "data-mini" => "true", "disabled" => "true", "data-ajax" => "false" , :class => "ui-disabled accept_link")
