#sales-info-page{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Sales Details
  %section{"data-role" => "content", :role => "main"}
    = form_for(@enquiry, :url => wizard_path, :method => :put, :html => ({"data-ajax" => "false"} if is_asha?) ) do |f|
      = f.label :sales_agent_code, "Enter Sales Agent Code (0 if none)"
      = f.text_field :sales_agent_code
      = f.label :year_of_purchase, "Enter Year of Purchase of device (as per original purchase receipt)"
      = f.error_message_on :year_of_purchase
      = f.text_field :year_of_purchase
      = f.label :customer_name, 'Full Name (as per ID / Passport)'
      = f.text_field :customer_name, :class => "required"
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend
            Identification Type
          = f.radio_button :id_entered, true, :required => "required"
          = f.label :id_entered_true, "ID"
          = f.radio_button :id_entered, false
          = f.label :id_entered_false, "Passport"
      = f.label :customer_id, 'National ID or Passport Number'
      = f.text_field :customer_id, :class => "required"
      = f.label :customer_email, 'Email Address'
      = f.email_field :customer_email, :class => "required email"
      - if !@enquiry.phone_number.nil?
        = f.label :customer_phone_number, 'Mobile Number'
        %label.phone_number{:style => "width:96%;display:block"}
          = @enquiry.phone_number
      - else
        = f.label :customer_phone_number, 'Mobile Number'
        = f.text_field :customer_phone_number, :class => "required", :placeholder => "254722123456"
      %p
        = f.submit "Continue"