#sales-info-page{"data-role" => "page", "data-theme" => "b", "data-add-back-btn" => "true"}
  %header{"data-role" => "header"}
    %h1
      Sales Details
  %section{"data-role" => "content", :role => "main"}
    = form_for(@enquiry, :url => wizard_path, :method => :put) do |f|
      = f.label :sales_agent_code, "Sales Agent Code (0 if none)"
      = f.text_field :sales_agent_code
      = f.label :year_of_purchase, "Year of Purchase (as per original purchase receipt)"
      = f.text_field :year_of_purchase
      = f.label :customer_name, 'Full Name (as per ID)'
      = f.text_field :customer_name, :class => "required"
      = f.label :customer_id, 'National ID or Passport Number'
      = f.text_field :customer_id, :class => "required"
      = f.label :customer_email, 'Email Address'
      = f.email_field :customer_email, :class => "required email"
      = f.label :customer_phone_number, 'Mobile Number'
      = f.text_field :customer_phone_number, :value => "#{@enquiry.phone_number}", :class => "ui-disabled disabled"
      %p
        = f.submit "Continue"