= image_tag attachments['admin_banner.jpg'].url
%br
%h6 Claim No: #{@claim.claim_no}
%p
  Welcome to Orient Mobile Claims
%h3
  CLAIM REGISTRATION
%p
  Please print this document and carry it with you to our authorized repair / supply partner
%p
  You have successfully registered a claim as follows:
%ul
  %li
    %b
      Insured:
    %span
      = @claim.policy.quote.insured_device.customer.name
  %li
    %b
      ID/Passport No::
    %span
      = @claim.policy.quote.insured_device.customer.id_passport
  %li
    %b
      Tel:
    %span
      = @claim.policy.quote.insured_device.customer.phone_number
  %li
    %b
      Claim No:
    %span
      = @claim.claim_no
  %li
    %b
      Claim Reporting Date:
    %span
      = @claim.incident_date.strftime("%d-%m-%Y")
  %li
    %b
      Device:
    %span
      = @claim.policy.quote.insured_device.device.marketing_name
  %li
    %b
      IMEI No:
    %span
      = @claim.policy.quote.insured_device.imei
  %li
    %b
      Claim Type:
    %span
      = @claim.claim_type
%br
%span
  Please visit an authorized dealer in
%span
  = @claim.nearest_town
%span
  with the following:
%ul
  %li
    The damaged device
  %li
    Original purchase receipt/ warranty (must display device make, model & IMEI, seller and price & date of purchase)
  %li
    Original ID/ Passport
  %li
    This claim registration confirmation
- if(!@brand.nil?)
  %p The following are the dealers available in your town
  - if (!@brand.brand_1.nil?)
    %p
      = @brand.brand_1
  - if (!@brand.brand_2.nil?)
    %p
      = @brand.brand_2
  - if (!@brand.brand_3.nil?)
    %p
      = @brand.brand_3
  - if (!@brand.brand_4.nil?)
    %p
      = @brand.brand_4