= image_tag attachments['admin_banner.jpg'].url
%br
%h6 Claim No: #{@claim.claim_no}
%p Dear #{@claim.policy.quote.insured_device.customer.name}
%p Your #{@claim.policy.quote.insured_device.device.marketing_name} cannot be repaired.
%p Please visit an authorized dealer in #{@claim.nearest_town} with ID or Passport for a replacement device. Limit KES 6500.
- if(!@brand.nil?)
  - if(@brand.size > 0)
    %p The following are the authorized dealers available in your town
    - if (!@brand.brand_1.nil?)
      %p
        = @brand.brand_1
    - if (!@brand.brand_2.nil?)
      %p
        = @brand.brand_2
    - if (!@brand.brand_3.nil?)
      %p
        = @brand.brand_3
    - if (!@brand.brand_4.nil?)
      %p
        = @brand.brand_4
%p Please contact our call center on 0733123456 if you would like further information on this.
%p Sincerely
%p Orient Mobile Services