= image_tag attachments['admin_banner_new.jpg'].url
%span Dear
%span
  = @policy.quote.insured_device.customer.name
%p
  Thank you for purchasing an Orient Mobile policy. Your policy details are as follows:
%ul
  %li
    %b
      Policy Number:
    %span
      = @policy.policy_number
  %li
    %b
      Make & Model:
    %span
      = @policy.quote.insured_device.device.marketing_name
  %li
    %b
      Insurance Value:
    %span
      = "#{number_to_currency(@policy.quote.insured_value, :unit => 'KES ', :delimiter => "")}"
  - if(@policy.quote.premium_type == 'Annual')
    %li
      %b
        Annual Premium:
      %span
        = "#{number_to_currency(@policy.quote.annual_premium, :unit => 'KES ', :delimiter => "")}"
  - elsif(@policy.quote.premium_type == 'Monthly')
    %li
      %b
        Monthly Premium:
      %span
        = "#{number_to_currency(@policy.quote.monthly_premium, :unit => 'KES ', :delimiter => "")}"
  %li
    %b
      Policy Start date:
    %span
      = @policy.start_date.strftime("%d-%m-%Y")
  %li
    %b
      Policy Expiry dates:
    %span
      = @policy.expiry.strftime("%d-%m-%Y")
%p
  The terms and conditions of your policy are attached. Please get in touch with mobile@korient.co.ke in case you have any questions.
%p
  Kind Regards,
%p
  Orient Mobile Services
%p
  Kenya Orient Insurance Limited