= render "layouts/claims_header"
.row.banner
  .large-12.columns
    %h4.subheader
      ORIENT MOBILE CLAIMS
.row
  .large-12.columns
    %h5
      Welcome #{@customer.name}
    %h6.subheader
      Please confirm the details below about your Orient Mobile policy.
.row
  .large-12.columns
    .large-6.columns.details
      Client Name: #{@customer.name}
    .large-6.columns.details
      Telephone Number: #{@customer.phone_number}
.row.spacer
  .large-12.large-centered.columns
    .large-6.columns.details
      Other Telephone : #{@customer.contact_number}
.row.spacer
  .large-12.large-centered.columns
    %h6.subheader
      Please provide an alternative mobile telephone no. and email address at which you can be reached while your claim is being processed.
= form_for(@customer, :method => :put) do |f|
  .row.spacer
    .large-12.columns
      / .row
      /   .large-4.columns
      /     = f.label :name, "Change the name that you provided"
      /     = f.text_field :name
      /   .large-4.columns
      /     = f.label :id, "Change the ID or passport number provided"
      /     = f.text_field :id_passport
      /   .large-4.columns
          
      .row
        .large-4.columns
          = f.label :alternate_phone_number
          = f.text_field :alternate_phone_number
        .large-4.columns
          = f.label :email
          = f.email_field :email
        .large-4.columns
          %br
          = f.submit "Update Contact Information", {:class=> "button small"}

  .row.spacer
    .large-12.columns
      %h6.subheader
        Please select the device for which you are making a claim
  .row.spacer
    .large-12.columns
      %table
        %thead
          %td Make & Model
          %td Cover Till
          %td Insured Value
          %td Phone Number
          %td IMEI
          %td Policy No
          %td
        %tbody
          - if @customer.is_corporate?
            - Policy.get_customer_policies(@customer.id_passport).each do |policy|
              %tr
                %td
                  - if policy.has_claim?
                    - if policy.claim.is_in_customer_stage?
                      %a{href: edit_claim_path(policy.claim)}
                        = policy.insured_device.device.marketing_name
                    - elsif !policy.claim.is_in_customer_stage? && policy.expiry - Time > 0
                      %a{href: "/claims/new?policy_id=#{policy.id}"}
                        = policy.insured_device.device.marketing_name
                    - else
                      %a{href: claim_path(policy.claim)}
                        = policy.insured_device.device.marketing_name
                  - else
                    = policy.insured_device.device.marketing_name
                %td
                  - if !policy.expiry.nil?
                    = policy.expiry.to_s(:simple)
                %td
                  = number_to_currency(policy.insured_device.insurance_value, unit: 'KES ', precision: 0, delimiter: ",")
                %td
                  = policy.insured_device.phone_number
                %td
                  = policy.insured_device.imei
                %td
                  = policy.policy_number
                %td
                  - if policy.has_claim?
                    - if policy.claim.is_in_customer_stage?
                      %a.button.small{:href => edit_claim_path(policy.claim)}
                        Edit Claim 
                    - elsif (!policy.claim.is_in_customer_stage?) && (policy.expiry - Time.now > 0)
                      %a.button.small{:href => "/claims/new?policy_id=#{policy.id}"}
                        New Claim
                    - else
                      %a.button.small{:href => claim_path(policy.claim)}
                        View Claim
                  - else
                    %a.button.small{:href => "/claims/new?policy_id=#{policy.id}"}
                      New              
          - else
            - @customer.insured_devices.each do |id|
              - if !id.quote.policy.nil?
                %tr
                  %td
                    -if id.quote.policy.has_claim?
                      - if id.quote.policy.claim.is_in_customer_stage?
                        %a{:href => edit_claim_path(id.quote.policy.claim)}
                          = id.device.marketing_name
                      - elsif (!id.quote.policy.claim.is_in_customer_stage?) && (id.quote.policy.expiry - Time.now > 0)
                        %a{:href => "/claims/new?policy_id=#{id.quote.policy.id}"}
                          = id.device.marketing_name
                      -else
                        %a{:href => claim_path(id.quote.policy.claim)}
                          = id.device.marketing_name
                    -else
                      %a{:href => "/claims/new?policy_id=#{id.quote.policy.id}"}
                        = id.device.marketing_name
                  %td
                    -if !id.quote.policy.expiry.nil?
                      = id.quote.policy.expiry.to_s(:simple)
                  %td
                    = number_to_currency(id.quotes.first.insured_value, :unit => "KES ", :precision => 0, :delimiter => "")
                  %td
                    - if !id.customer.phone_number.nil?
                      = id.customer.phone_number
                  %td
                    - if !id.imei.nil?
                      = id.imei
                  %td
                    - if !id.quote.policy.policy_number.nil?
                      = id.quote.policy.policy_number
                  %td
                    - if id.quote.policy.has_claim?
                      - if id.quote.policy.claim.is_in_customer_stage?
                        %a.button.small{:href => edit_claim_path(id.quote.policy.claim)}
                          Edit Claim 
                      - elsif (!id.quote.policy.claim.is_in_customer_stage?) && (id.quote.policy.expiry - Time.now > 0)
                        %a.button.small{:href => "/claims/new?policy_id=#{id.quote.policy.id}"}
                          New Claim
                      - else
                        %a.button.small{:href => claim_path(id.quote.policy.claim)}
                          View Claim
                    - else
                      %a.button.small{:href => "/claims/new?policy_id=#{id.quote.policy.id}"}
                        New


  / .row.spacer
  /   .large-12.columns
  /     = f.submit "Update", {:class=> "button small"}
:javascript
  $(function(){
    $('.customer-link').addClass('active');
    $('.footer').hide();
  });