!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Kenya Orient Mobile Insurance"
      %link{ :href =>"/assets/favicon.ico", :rel => "icon", :type => 'image/ico'}
      %meta{:content => content_for?(:description) ? yield(:description) : "Kenya Orient Mobile Insurance", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body.admin{:class => "#{controller_name} #{action_name}"}
    #container.container
      #header.row
        .large-12.columns
          .logo.left
            %a{:href => root_path}
              %img.banner{:src => "/assets/logo_small.png"}
          .nav.right
            %ul
              - if user_signed_in?
                %li
                  = link_to('Logout', destroy_user_session_path, :method => :delete)
                %li
                  = link_to('Change Password', edit_user_registration_path)
              -else
                %li
                  %a{:href => customer_index_path }
                    Customer Claims
                %li
                  %a{:href => "#{new_user_session_path}?user_type=DP"}
                    Dealer Portal
                %li
                  %a{:href => "#{new_user_session_path}?user_type=SC"}
                    Service Centre
                %li
                  %a{:href => "#{new_user_session_path}?user_type=CP"}
                    Claims Portal
              %li
                %a{:href => admin_root_path }
                  Admin

      #main{:role => "main"}
        = yield
      / %footer
      = render "layouts/footer_new"
    / ! end of #container
