!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Kenya Orient Mobile Insurance"
      %link{ :href =>"/assets/favicon.ico", :rel => "icon", :type => 'image/ico'}
      %meta{:content => content_for?(:description) ? yield(:description) : "Kenya Orient Mobile Insurance", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        = render 'layouts/navigation'
        = render  'layouts/banner'
        -#= render 'layouts/messages'
      #main{:role => "main"}
        = yield
      / %footer
      = render "layouts/footer_new"
    / ! end of #container
