!!! 5
%html
  %head
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    %title= content_for?(:title) ? yield(:title) : "Kenya Orient Mobile Insurance"
    %meta{:content => content_for?(:description) ? yield(:description) : "Kenya Orient Mobile Insurance", :name => "description"}
    = stylesheet_link_tag "mobile"
    = javascript_include_tag "mobile"
    = csrf_meta_tags

  %body
    = yield
    /! end the main body