!!! 5
%html
  %head
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    %title= content_for?(:title) ? yield(:title) : "Kenya Orient Mobile Insurance"
    %meta{:content => content_for?(:description) ? yield(:description) : "Kenya Orient Mobile Insurance", :name => "description"}
    = stylesheet_link_tag "mobile"
    = javascript_include_tag "mobile"
    = csrf_meta_tags

  %body
    = yield
    /! end the main body
    / Google Code for Sign Ups Conversion Page
    :javascript
      /*  */
      
      var google_conversion_id = 949802304;
      
      var google_conversion_language = "en";
      
      var google_conversion_format = "3";
      
      var google_conversion_color = "ffffff";
      
      var google_conversion_label = "nHgvCPzr1l0QwKrzxAM"; var google_remarketing_only = false;
      
      /*  */
      
    %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
    %noscript
      %div{:style => "display:inline;"}
        %img{:alt => "", :height => "1", :src => "//www.googleadservices.com/pagead/conversion/949802304/?label=nHgvCPzr1l0QwKrzxAM&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/